body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  height: 9vh;
  font-weight: 600;
  font-size: xx-large;
  align-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
}
.brand{
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}

.navbar-options-format {
  font-weight: 500;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.wallpaper-format {
  max-width: 102%;
}
.wallpaper-text {
  justify-content: center; 
}
.about-me {
  position: relative;
  max-width: 90%;
  margin-top: -755px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  height: 87vh;
  background-color: #0e172a; 
  opacity: 0.75;
  box-shadow: 0px 0px 10px 10px #0e172a; 
  
}
.pop-up {
  position: relative;
  max-width: 90%;
  margin-top: -755px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #0e172a; 
  opacity: 0.75;
  box-shadow: 0px 0px 10px 10px #0e172a; 
  
}
.profile-pic-format {
  margin-top: 120px;
  margin-left: 70px;
}
.about-me-text {
  margin-left: 90px;
  margin-top: 60px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
  font-weight: 800px;
  font-size: large;
  color: #f2ebdd;
}
.sign-langauge-container {
  position: relative;
  max-width: 90%;
  margin-top: 100px;
  padding: 0px;
  left: 0px;
  height: 88vh;
  background-color:#14213d;
  
}
.tandem-container {
  position: relative;
  max-width: 90%;
  padding: 0px;
  left: 0px;
  height: 84vh;
  background-color:#14213d;
  opacity: 0.8;
  box-shadow: 0px 0px 10px 10px #14213d;
   
}
.microsoft-container {
  position: relative;
  max-width: 90%;
  margin-top: 100px;
  padding: 0px;
  left: 0px;
  height: 89vh;
  background-color:#0e172a;
  opacity: 0.8;
  box-shadow: 0px 0px 5px 5px #0e172a;
}
.project-container {
  margin-top: 70px;
  padding-top: 20px;
  max-width: 90%;
  height: 40vh;
  background-color:#0e172a;
  opacity: 0.8;
  box-shadow: 0px 0px 5px 5px #0e172a;
}
.ta-container {
  position: relative;
  max-width: 90%;
  padding: 0px;
  left: 0px;
  height: 74vh;
  background-color:#14213d;
  opacity: 0.8;
  box-shadow: 0px 0px 10px 10px #14213d;
}
.research-container {
  max-width: 102%;
  padding: 0px;
  left: 0px;
  height: 0vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

}
/* .sign-language-text {
  margin-left: 130px;
  margin-top: 50px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
  font-weight: 800px;
  font-size: large;
  color: #f2ebdd;
  max-width: 100%;
} */
@media screen and (min-width: 601px) {
  .sign-language-text {
    margin-left: 130px;
    margin-top: 50px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: left;
    font-weight: 800px;
    font-size: large;
    color: #f2ebdd;
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .sign-language-text {
    margin-left: 130px;
    margin-top: 50px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: left;
    font-weight: 800px;
    font-size: small;
    color: #f2ebdd;
    max-width: 100%;
  }
}
.research-wallpaper-text {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: auto;
  align-self: center;
  color:#f2ebdd; 
}
.card-image {
  border-radius: "10px";
  height: "90%"; 
  opacity: 0.7;
  background-color: #0e172a; 
}
.card-image:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; 
}
.card-image:hover:after {
  opacity:1;
  transition:  opacity 0.2s ease;
  display: block;
}
.award-card-image {
  border-radius: "10px";
  background-color: black; 
  color: #f2ebdd;
}
.award-card-image:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; 
}
.award-card-image:hover:after {
  opacity:1;
  transition:  opacity 0.2s ease;
  display: block;
}






