body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  height: 9vh;
  font-weight: 600;
  font-size: xx-large;
  align-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
}
.brand{
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}

.navbar-options-format {
  color: white;
  font-weight: 500;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.wallpaper-format {
  max-width: 102%;
}
.wallpaper-text {
  justify-content: center; 
}
.about-me {
  position: relative;
  max-width: 102%;
  margin-top: 810px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100vh;
  background-color: #264653;
  
}
.profile-pic-format {
  margin-top: 160px;
  margin-left: 150px;
}
.parallax {
  /* The image used */
  background-image: url(./images/home-page-wallpaper.png);

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-me-text {
  margin-left: 90px;
  margin-top: 120px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
  font-weight: 800px;
  font-size: large;
  color: white;
}
.sign-langauge-container {
  position: relative;
  max-width: 92%;
  margin-top: 810px;
  padding: 0px;
  left: 0px;
  height: 90vh;
  background-color:#E9C46A;
}
.tandem-container {
  position: relative;
  max-width: 92%;
  padding: 0px;
  left: 0px;
  height: 100vh;
  background-color:#2A9D8F;
}
.research-container {
  max-width: 102%;
  padding: 0px;
  left: 0px;
  height: 0vh;
}
.sign-language-text {
  margin-left: 130px;
  margin-top: 80px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
  font-weight: 800px;
  font-size: large;
  color: black;
}
.asl-pic-format {
  width: 1000px;
  margin-top: 90px;
  margin-left: 130px;
}
.callibration-pic-format {
  width: 800px;
  margin-top: 40px;
  margin-left: 100px;
}
.copy-cat-pic-format {
  width: 400px;
  margin-top: 30px;
  margin-left: 130px;
}
.research-wallpaper-text {
  justify-content: right;
  margin-left: 500px;
}



